$font-family-sans-serif:
  // Safari for macOS and iOS (San Francisco)
  -apple-system,
  // Chrome < 56 for macOS (San Francisco)
  BlinkMacSystemFont,
  // Windows
  "Segoe UI",
  // Android
  "Roboto",
  // Basic web fallback
  "Helvetica Neue", Arial, sans-serif,
  // Emoji fonts
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

$font-color-87: rgba(13,13,13,0.87);

.container {
    max-width: 1920px;
    padding: 0;
}

.row {
    max-width: 1920px;
    width: 100%;
    padding: 0;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(11,42,74,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
  
.navbar{
    background-color: white;
    .navbar-brand{
        opacity: 0.95;
        margin-right: 0;
    }
    #brand-text{
        color: #0B2A4A;
        font-family: 'Playfair Display';
        opacity: 0.92;
        padding-top: 0.7rem;
        letter-spacing: -0.03rem; 
    }
    .nav-link{
        color: #0B2A4A;
        opacity: 0.92;
        font-family: 'Open Sans';
        font-weight: 800;
        margin-bottom: 0;
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
        letter-spacing: -0.05rem;
    }
}

.second-sec{
    margin: auto;
    .mycard{
        padding: 1.3rem 1.8rem;
    }
    .iconify{
        height: 3rem;
        width: auto;
    }
    h6{
        font-family: 'Open Sans';
        font-weight: 800;
        color: rgba(13, 13, 13, 0.87);
    }

    p{
        font-family: 'Open Sans';
        font-weight: 300;
        color: rgba(13, 13, 13, 0.67);
        letter-spacing: -0.02rem;
    }
}

h5{
    font-family: 'Open Sans';
    color: $font-color-87;
    font-weight: 800;
    letter-spacing: -0.02rem;
}

h6{
    font-family: 'Open Sans';
    color: $font-color-87;
    font-weight: 800;
    letter-spacing: -0.02rem;
}

.para{
    padding: 1rem 6rem;
    margin-top: 2rem;
    font-family: 'Open Sans';
    font-weight: 400;
    color: rgba(13, 13, 13, 0.87);
    letter-spacing: -0.01rem;
    text-align: center;
}

.third-sec{
    margin: 3rem 0;
    padding: 4rem 4rem !important;
    background-color: #f7f7f7;
    

    .lightbox{
        padding-top: 2rem;
        button{
            font-family: 'Open Sans';
            font-weight: 800;
            background: none;
            color: $font-color-87;
            border: none;
            letter-spacing: -0.02rem;
        }
    }
}

.forth-sec{

    .col-sm-2{
        padding: 0;
    }

    .popupbutton{
        font-family: 'Open Sans';
        width: 13rem;
        height: 12rem;
        font-weight: 700;
        background: #f7f7f7;
        letter-spacing: -0.01rem;
        border: none;
        border-radius: 0;
        color: $font-color-87;
        padding: 2rem 1.5rem;
        &:hover {
            background: #B78D5A;
            color: rgba($color: #ffffff, $alpha: .87);
            .iconify{
                color: rgba($color: #ffffff, $alpha: .87) !important;
            }
        }
    }

    .iconify{
        height: 1.8rem;
        width: auto;
    }

    button{
        font-family: 'Open Sans';
        font-weight: 800;
        background: none;
        color: $font-color-87;
        border: none;
        letter-spacing: -0.02rem;
    }

    .small {
        height: 1rem;
    }

}


.fifth-sec{
    margin: 3rem 0;
    padding: 4rem 4rem !important;
    background-color: #f7f7f7;
    
    .fifth-sec-para{
        font-family: 'Open Sans';
        font-weight: 400;
        color: rgba(13, 13, 13, 0.87);
        letter-spacing: -0.01rem;
    }

   }


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 

    .navbar{
        #brand-text{
            margin-left: -2.5rem !important;
        }
        .nav-link{
            margin: 1rem -1rem 1rem;
        }
    }

    .para{
        padding: 1rem 1rem;
        margin-top: 2rem;
        font-family: 'Open Sans';
        font-weight: 400;
        color: rgba(13, 13, 13, 0.87);
        letter-spacing: -0.01rem;
        text-align: center;
    }

    .third-sec{
        padding: 3rem 1rem !important;
    }

    .fifth-sec{
        padding: 3rem 1rem !important;
    }

    .forth-sec{
        padding: 1rem 1rem !important;
    }
 }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 
   
 }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 
    .second-sec{
        margin: auto;
        .mycard{
            padding: 1rem 1.5rem;
        }
    }
 }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { 
    .second-sec{
        margin: auto;
        .mycard{
            padding: 1rem 2rem;
        }
    }
 }
